# ====================================
#    JagUnify Environment Variables
# ====================================
#
# Many of the environment variables are currently hardcoded
# The only variable needed for inclusion at the moment is the API key 
OPENAI_API_KEY=your_key_here
